body {
    background-color: bisque;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.inpt {
    width: 800px;
    height: 400px;
    font-size: 14px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    background: repeating-linear-gradient(
    white, 
    white 26px,
    #585454 27px
    
    );
}

.category {
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
}

h3 {
    color: rgb(58, 50, 50);
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notes-container {
    background-color: #585454;
}

#inpt-container {
    width: 40%;
}

#note-container {
    width: 55%;
}

#category-container {
    margin-top: 10px;
}
